<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="h4 text-center mb-4 title">Achievements</div>
      <div class="nav-align-center">
        <ul class="nav nav-pills nav-pills-primary" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist">
              <i class="fa fa-trophy" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-16 col-md-16">
            <div class="card-body">

              <div class="row" style="margin:30px">
                <div class="col-sm-12">
                  🏆 <strong>Cloud Guardian Award</strong> – Recognized by <strong>EQUIP9™</strong> for outstanding efforts in <strong>AWS cost optimization</strong>.
                </div>
              </div>

              <div class="row" style="margin:30px">
                <div class="col-sm-12">
                  🎖️ <strong>Employee of the Quarter</strong> – Awarded by <strong>EQUIP9™</strong> for exceptional contributions to cloud and DevOps solutions.
                </div>
              </div>

              <div class="row" style="margin:30px">
                <div class="col-sm-12">
                  🏅 <strong>Cloud Application Developer Certification</strong> – Certified by <strong>Vinsys, Generation India, and Nasscom's AMBER program</strong>.
                </div>
              </div>






            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
