<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2023</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering (Computer Science)</div>
             <h4 class="category">Sinhgad Academy of Engineering, Sinhgad Kondhwa, Danny Mehata Nagar, Kondhwa, Pune, Maharashtra 411048</h4>
             <ul>
              <li>University of Pune, one of the premier universities in India.</li>
              <li>Completed B.Tech in Computer Science Engineering with <b>73%</b>.</li>
              <li>Maintained approximately <b>70%</b> in every semester of the college academic curriculum.</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - 2019</p>
            <div class="h5">Higher Secondary Certificate (HSC)</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">HSC</div>
             <h4 class="category">Shree Vitthal Vidyalaya, Jalgaon</h4>
             <ul>
              <li>Affiliated with the Maharashtra State Board of Secondary & Higher Secondary Education.</li>
              <li>The curriculum primarily focused on the fundamentals of 10+2 education and engineering subjects.</li>
              <li>Developed a strong foundation in Mathematics and Data Structures.</li>
              <li>Completed my HSC with <b>70%</b>.</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2017</p>
            <div class="h5">Secondary School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">SSC</div>
             <h4 class="category">Shree Vitthal Vidyalaya, Jalgaon</h4>
             <ul>
              <li>Affiliated with the Maharashtra State Board of Secondary & Higher Secondary Education.</li>
              <li>Focused on subjects including Mathematics, English, Science, Social Science, Marathi, and Hindi.</li>
              <li>Completed my matriculation with <b>73%</b>.</li>
           </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
